{
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "printWidth": 120,
                "tabWidth": 4,
                "wrapAttributes": "force-expand-multiline",
                "wrapAttributesMinAttrs": 2,
                "sortTailwindcssClasses": true,
                "sortHtmlAttributes": "code-guide",
                "noPhpSyntaxCheck": false,
                "indentInnerHtml": true,
                "extraLiners": "",
                "trailingCommaPHP": true
            }
        }
    ]
}